.table-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.table-row-item {
    height: 172px;
    border-bottom: 1px solid var(--border-color);
  }
  .table-row-item:hover {
    background-color: var(--bg-row-hover);
    cursor: pointer;
  }
  .table-td {
    flex-grow: 1;
    max-width: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .table-td:first-child {
    justify-content: flex-start;
  }
  .table-td:last-child {
    flex-direction: column;
  }
  .caption {
    width: 200px;
    font-size: var(--txt-size-min);
    line-height: 1.6em;
    max-height: 9.6em;
    overflow: hidden;
  }
  .client-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .client-info .client-name, .client-info .client-phone {
    font-size: var(--txt-size-max);
  }
  .client-info .client-company {
    font-size: var(--txt-size-min);
    color: var(--txt-color);
  }
  .status {
    font-size: var(--txt-size-micro);
    padding: 0.5em;
    color: white;
    border-radius: 5px;
  }
  .status-client {
    width: auto;
    background-color: var(--bg-blue-color);
  }
  .client-info span:nth-child(1) {
    margin-bottom: 4px;
  }
  .client-info span:nth-child(2) {
    margin-bottom: 4px;
  }
  .client-info span:last-child {
    margin-top: 14px;
  }
  .table-td:nth-child(3), .table-td:nth-child(4) {
    font-size: var(--txt-size-min);
  }
  .table-td:nth-child(3) {
    color: var(--bg-blue-color);
  }
  .status-obj {
    width: 96px;
    text-align: center;
  }
  .status-obj-not {
    background-color: var(--bg-status-color-not);
  }
  .status-obj-yep {
    color: var(--font-color);
    background-color: var(--bg-status-color-yep);
  }
  .client-pic {
    width: 78px;
    min-height: 20px;
    margin-right: 22px;
  }
  .client-pic img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
  }
  .date-status {
    margin-top: 6px;
    font-size: var(--txt-size-min);
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .table-row-item {
      height: auto;
    }
    .table-row {
      flex-direction: column !important;
  }
    .table-td {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
    }
    .caption {
        width: 100%;
    }
    .client-pic {
        width: 30vw;
    }
    .client-pic img {
        width: 30vw;
        height: 30vw;
        width: 100%;
    }
    .status-client {
        width: auto;
    }
    .status-obj {
        width: 140px;
    }
    .date-status {
        margin-top: 6px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1300px) {
    .table-td {
        width: 17.5%;
        max-width: 17.5%;
    }
    .table-th:first-child, .table-td:first-child {
        width: 30%;
        max-width: 30%;
    }
    .caption {
        width: 94%;
        line-height: 1.6em;
        max-height: 9.6em;
        overflow: hidden;
    }
}